<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Credits OCR Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/0.9.15/css/jquery.Jcrop.min.css"
        integrity="sha512-bbAsdySYlqC/kxg7Id5vEUVWy3nOfYKzVHCKDFgiT+GsHG/3MD7ywtJnJNSgw++HBc+w4j71MLiaeVm1XY5KDQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jcrop/0.9.15/js/jquery.Jcrop.min.js"></script> -->
    <link rel="stylesheet" href="https://unpkg.com/jcrop/dist/jcrop.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
    <script src="https://unpkg.com/jcrop"></script>
</head>
<style>
#scanAllId {
    background-color: #4CAF80;
    border: none;
    color: white;
    padding: 4px 4px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}
#scanAllId:disabled,
#scanAllId[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.label {
    display: inline-block;
    margin-right: 5px;
    padding-right: 5px;
}
            .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
.tooltipOption .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.tooltipOption0:hover .tooltipText0 {
  visibility: visible;
}
    .tooltipOption1:hover .tooltipText1 {
  visibility: visible;
}
    .tooltipOption2:hover .tooltipText2 {
  visibility: visible;
}
</style>
<body>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> -->
    <div class="container">
        <!-- Input element to choose images -->
        <h3>Some lame OCR wannabe for credits submissions - please go to <a href="https://github.com/Mtik333/OCRCreditsMobygamesTest">GitHub page</a> for more info regarding usage and examples</h3>
        <h4>Try to name images like out001, out002, out003 to keep them in right order for OCRing.</h4>
        <input type="file" id="select-image" multiple>
        <br>
        <b>Following options must be set before uploading images</b>
        <br>
        <input type="checkbox" id="blackBgr" value="black" checked><label for="blackBgr">Dark background and white
            font</label>
        <br>
        <input type="checkbox" id="highContrast" value="true" checked><label for="highContrast">Colors of role / dev
            letters have low contrast</label>
        <br>
        <label for="defineResize">Resize image to gain some DPIs (does not affect display on page)</label><select id="defineResize" onchange="rememberResize()">
            <option value="1" selected="selected">No</option>
            <option value="2">200%</option>
            <option value="3">300%</option>
        </select>
        <br>
        <b>Following options can be set after uploading images</b>
        <br>
        <label for="pageSegModeGlobal">Choose Tesseract segmentation mode</label><select id="pageSegModeGlobal">
            <option value="0">Orientation and script detection (OSD) only</option>
            <option value="1">Automatic page segmentation with OSD</option>
            <option value="2">Automatic page segmentation, but no OSD, or OCR. (not implemented)</option>
            <option value="3" selected="selected">Fully automatic page segmentation, but no OSD. (Default)</option>
            <option value="4">Assume a single column of text of variable sizes.</option>
            <option value="5">Assume a single uniform block of vertically aligned text</option>
            <option value="6">Assume a single uniform block of text</option>
            <option value="7">Treat the image as a single text line</option>
            <option value="8">Treat the image as a single word</option>
            <option value="9">Treat the image as a single word in a circle</option>
            <option value="10">Treat the image as a single character</option>
            <option value="11">Sparse text. Find as much text as possible in no particular order</option>
            <option value="12">Sparse text with OSD.</option>
        </select>
        <br>
        <label for="ocrEngineModeGlobal">Choose Tesseract OCR engine mode</label><select id="ocrEngineModeGlobal">
            <option value="0">0 - Legacy engine only</option>
            <option value="1">1 - Neural nets LSTM engine only</option>
            <option value="2">2 - Legacy + LSTM engines</option>
            <option value="3" selected="selected">3 - Default, based on what is available</option>
        </select>
        <br>
        <input type="checkbox" id="groupItAll" value="true" checked><label for="groupItAll">Try to group/fix output
            automatically (barely</label>
        developed)
        <br>
        <input type="checkbox" id="replaceComma" value="false"><label for="replaceComma">Replace comma with new line</label>
        <br>
        <input type="checkbox" id="twoWordNames" value="true" checked><label for="twoWordNames">Do not use OpenNLP to perform
            name recognition</label>
        <br>
        <input type="checkbox" id="nicknameDetect" value="true" checked><label for="nicknameDetect">Try to correct
            nicknames</label>
        <br>
        <input type="checkbox" id="capitalizeDevNames" value="true"><label for="capitalizeDevNames">Try to correct
            UPPERCASE DEV NAMES</label>
        <br>
        <input type="checkbox" id="capitalizeRoles" value="true" checked><label for="capitalizeRoles">Try to correct
            UPPERCASE ROLES</label>
        <br>
        <input type="checkbox" id="uppercaseKeywordsCheckbox" value="true" checked><label for="capitalizeRoles">Keep uppercase for following keywords:</label>
        <br>
        <input type="text" id="uppercaseKeywordsText" value="HQ, CEO, NCSA, APAC, 2D, 3D, LQA, QA, R&D, UOR, HR, VFX, VP, SVP, COO, CTO, IT, PR, UI, UX, AI"
        style="width:100%">
        <br>
        <label for="previewResolution">Define resolution of images preview (used after the OCR is done)</label><select id="previewResolution"
            onchange="modifyResolution()" disabled>
            <option value="0" selected="selected">Original resolution</option>
            <option value="1">640x480</option>
            <option value="2">800x600</option>
            <option value="3">1024x768</option>
            <option value="4">1280x720</option>
            <option value="5">1440x900</option>
            <option value="6">1920x1080</option>
        </select>
        <br>
        <label for="defineLanguage">Define default language (might be useful when non-English characters appear)</label><select id="defineLanguage">
            <option value="eng" selected="selected">English</option>
            <option value="pol">Polish</option>
            <option value="fra">French</option>
            <option value="spa">Spanish</option>
            <option value="ron">Romanian</option>
            <option value="tur">Turkish</option>
            <option value="ita">Italian</option>
            <option value="hun">Hungarian</option>
            <option value="jpn">Japanese</option>
        </select>
        <br>
        <label for="roleDevLayout">Choose credits layout</label><select id="roleDevLayout" onchange="adjustOcrMode()">
            <option value="0" title="Example:&#013;&#013;Artist&#013;Justin Ma">0 - Dev name(s) below role title</option>
            <option value="1" title="Example:&#013;Artist&#9;&#9;&#9;Justin Ma">1 - Dev names next to (right) role title</option>
            <option value="2" title="Example:&#013;Justin Ma&#9;-&#9;Artist">2 - Dev names next to (left) role title</option>
        <!--<option value="3" title="Example:&#013;Justin Ma&#9;-&#9;FIFA Core&#9;-&#9;Producer">3 - Dev name next to group next to role</option>-->
        </select>
        <br>
        <button id="scanAllId" disabled>OCR all images</button>
        <br>
        <br>
        <button id="showCombinedText" disabled>Show combined text</button>
        <button id="hideCombinedText" disabled>Hide combined text</button>
        <button id="copyCombinedText" disabled>Copy combined text</button>
        <button id="clearCombinedText">Clear text for all images</button>
        <button id="scrapAll">Delete all images</button>
        <button id="copyCrop" disabled>Copy crop to all images</button>
        <button id="clearCrop" disabled>Clear crop from all images</button>
        <p id="combinedText" hidden="hidden"></p>
        <div class="preview_image">

            <!-- All images will display inside this div -->
            <div id="images">
                <table id="temptable">
                    <tr>
                        <th>Image</th>
                        <th>Text</th>
                    </tr>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="dialog" title="Loading...">
            Dialog will close once process is done...
        </div>
    </div>
    <script>
        var allImageFiles;
        var reportStatus;
        var uploadStatus;
        var basicHtml;
        var multiplier=1;
        var preDialogValue = "Dialog will close once process is done...";
        $(document).ready(function () {
            const fileInput = document.getElementById('select-image');
            const images = document.getElementById('images');
            const temptable = document.getElementById('temptable');
            $("#dialog").dialog({ autoOpen: false }).hide();
            $("#scanAllId").on('click', function () {
                //ocrAllImages();
                $("#scanAllId").prop('disabled', true);
                ocrAllImagesDup();
            });
            $("#showCombinedText").on('click', function () {
                combineWholeText();
            });
            $("#hideCombinedText").on('click', function () {
                hideWholeText();
            });
            $("#copyCombinedText").on('click', function () {
                copyWholeText();
            });
            $("#clearCombinedText").on('click', function () {
                clearWholeText();
            });
            $("#clearCrop").on('click', function () {
                clearWholeCrop();
            });
            $("#scrapAll").on('click', function () {
                $("#temptable tr").remove();
                fileInput.value = "";
                $("#previewResolution").prop('disabled', true);
                $.ajax({
                    type: "POST",
                    url: "/cleandir",
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        console.log("EEEEE1");
                    },
                    error: function (data2) {
                        $("#dialog")[0].innerHTML = data2.responseText;
                        console.log(data2);
                    }
                });
            });
            // Listen to the change event on the <input> element
            fileInput.addEventListener('change', (event) => {
                // Get the selected image file
                const imageFiles = event.target.files;
                allImageFiles = imageFiles;
                // Show the number of images selected
                // Empty the images div
                $("#temptable tr").remove();
                $("#combinedText")[0].innerHTML = '';
                if (imageFiles.length > 0) {
                    $("#showCombinedText").prop('disabled', false);
                    sendImagesToBackend(imageFiles);
                    Array.prototype.forEach.call(imageFiles, function (file) {
                        if (file.type.indexOf('image/' === 0)) {
                            var i = new Image();
                            var imageFileWithExtension = file.name;
                            i.id = imageFileWithExtension.substr(0, imageFileWithExtension.indexOf("."));
                            i.className = "imageToCrop";
                            i.name = imageFileWithExtension;
                            i.src = URL.createObjectURL(file);  // creates a blobURI
                            i.origWidth = i.width;
                            i.origHeight = i.height;
                            //images.innerHTML += `<div class="image_box">`;
                            //i.width=640;
                            //i.height=480;
                            addTrWithImageToTable(temptable, i);
                            //images.appendChild(i);
                            //$(images).append(imageFileWithExtension);
                            //setTimeout(1000);
                            Jcrop.load(i).then(img => {
                                var stage = Jcrop.attach(img, {
                                    onRelease: finalCoordinates
                                });
                                img.stage = stage;
                                stage.listen('crop.change', (widget, e) => {
                                    finalCoordinates(widget, e);
                                });
                            }
                            );
                        }
                    });
                } else {
                    $("#scanAllId").prop('disabled', true);
                    // Empty the images div
                    //images.innerHTML = '';
                }
            });
        });

        function sendImagesToBackend(targetFiles) {
            var formData = new FormData();
            if ($("#blackBgr")[0].checked) {
                formData.append('black', true);
                $("#dialog")[0].innerHTML = "Uploading and inverting images, please wait...";
            } else {
                formData.append('black', false);
                $("#dialog")[0].innerHTML = "Uploading images, please wait...";
            }
            if ($("#highContrast")[0].checked) {
                formData.append('highContrast', true);
                $("#dialog")[0].innerHTML = "Uploading and grayscaling images, please wait...";
            } else {
                formData.append('highContrast', false);
            }
            formData.append("multiplier", multiplier);
            Array.prototype.forEach.call(targetFiles, function (file) {
                formData.append('files', file);
            });
            $("#dialog").dialog("open");
            //formData.append('files', targetFiles);
            uploadStatus = true;
            $.ajax({
                type: "POST",
                url: "/inittestupload",
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    uploadStatus = false;
                    $("#dialog").dialog("close");
                    $("#scanAllId").prop('disabled', false);
                },
                error: function (data2) {
                    uploadStatus = false;
                    //$("#dialog").dialog("close");
                    $("#dialog")[0].innerHTML = data2.responseText;
                    console.log(data2);
                }
            });
            checkUploadStatus(basicHtml)
        }

        function ocrImage(actualImage) {
            var formData = new FormData();
            // var base64data = reader.result;
            formData.append('filename', actualImage.name);
            if (actualImage.tempPropX) {
                var finalTempPropX=actualImage.tempPropX;
                var finalTempPropY=actualImage.tempPropY;
                var finalTempPropW=actualImage.tempPropW;
                var finalTempPropH=actualImage.tempPropH;
                if (multiplier!=1){
                    var finalTempPropX=finalTempPropX*multiplier;
                    var finalTempPropY=finalTempPropY*multiplier;
                    var finalTempPropW=finalTempPropW*multiplier;
                    var finalTempPropH=finalTempPropH*multiplier;
                } 
                formData.append('tempPropX', finalTempPropX);
                formData.append('tempPropY', finalTempPropY);
                formData.append('tempPropW', finalTempPropW);
                formData.append('tempPropH', finalTempPropH);
            }
            formData.append('pageSegMode', $("#pageSegModeGlobal")[0].value);
            formData.append('ocrEngineMode', $("#ocrEngineModeGlobal")[0].value);
            formData.append('roleDevLayout', $("#roleDevLayout")[0].value);
            formData.append('defineLanguage', $("#defineLanguage")[0].value);
            if ($("#replaceComma")[0].checked) {
                formData.append('replaceComma', true);
            } else {
                formData.append('replaceComma', false);
            }
            if ($("#groupItAll")[0].checked) {
                formData.append('groupItAll', true);
            } else {
                formData.append('groupItAll', false);
            }
            if ($("#blackBgr")[0].checked) {
                formData.append('black', true);
            } else {
                formData.append('black', false);
            }
            if ($("#twoWordNames")[0].checked) {
                formData.append('twoWordNames', true);
            } else {
                formData.append('twoWordNames', false);
            }
            if ($("#nicknameDetect")[0].checked) {
                formData.append('nicknameDetect', true);
            } else {
                formData.append('nicknameDetect', false);
            }
            if ($("#capitalizeDevNames")[0].checked) {
                formData.append('capitalizeDevNames', true);
            } else {
                formData.append('capitalizeDevNames', false);
            }
            if ($("#capitalizeRoles")[0].checked) {
                formData.append('capitalizeRoles', true);
            } else {
                formData.append('capitalizeRoles', false);
            }
            if ($("#uppercaseKeywordsCheckbox")[0].checked) {
                formData.append('uppercaseKeywords',$("#uppercaseKeywordsText")[0].value);
            } 
            $.ajax({
                type: "POST",
                url: "/testupload",
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    uploadStatus = false;
                    var tr = actualImage.parentElement.parentElement.parentElement;
                    var td1 = document.createElement('td');
                    td1.className = 'textToCopy';
                    td1.setAttribute('contenteditable', true);
                    td1.innerHTML = data;
                    $("#copyCombinedText").prop('disabled', false);
                    tr.appendChild(td1);
                },
                error: function (data2) {
                    uploadStatus = false;
                    $("#dialog")[0].innerHTML = data2.responseText;
                    $("#dialog").dialog("open");
                    console.log(data2);
                }
            });
            checkUploadStatus(uploadStatus, basicHtml);
        }
        //$("#00661_invert").Jcrop({setSelect:[50,50,1500,900]});
        function loadImageAsText(i) {
            ocrImage(i);
        }


        function addTrWithImageToTable(temptable, image) {
            var tr = document.createElement('tr');
            var td1 = document.createElement('td');
            td1.className = 'imgclass';
            td1.appendChild(image);
            var analyzeButton = document.createElement("button");
            analyzeButton.innerHTML = 'Read Text (no crop area means whole image)';
            analyzeButton.id = image.id + 'btn';
            analyzeButton.addEventListener('click', function () {
                loadImageAsText(image);
            });
            var copyCropButton = document.createElement("button");
            copyCropButton.innerHTML = 'Copy crop from this image to all others';
            copyCropButton.id = image.id + 'btn_crop';
            copyCropButton.addEventListener('click', function () {
                applyCropToAllImages(image);
            });
            td1.appendChild(analyzeButton);
            td1.appendChild(copyCropButton);
            td1.append(image.id);
            tr.appendChild(td1);
            temptable.appendChild(tr);
        }

        function ocrAllImages() {
            $(".imageToCrop").each(function () {
                //if ($(this)[0].id == "") {
                loadImageAsText($(this)[0]);
                //}
            });
        }

        function ocrAllImagesDup() {
            var actualImage = $(".imageToCrop")[0];
            var formData = new FormData();
            // var base64data = reader.result;
            if (actualImage.tempPropX) {
                var finalTempPropX=actualImage.tempPropX;
                var finalTempPropY=actualImage.tempPropY;
                var finalTempPropW=actualImage.tempPropW;
                var finalTempPropH=actualImage.tempPropH;
                if (multiplier!=1){
                    var finalTempPropX=finalTempPropX*multiplier;
                    var finalTempPropY=finalTempPropY*multiplier;
                    var finalTempPropW=finalTempPropW*multiplier;
                    var finalTempPropH=finalTempPropH*multiplier;
                } 
                formData.append('tempPropX', finalTempPropX);
                formData.append('tempPropY', finalTempPropY);
                formData.append('tempPropW', finalTempPropW);
                formData.append('tempPropH', finalTempPropH);
            }
            formData.append('pageSegMode', $("#pageSegModeGlobal")[0].value);
            formData.append('ocrEngineMode', $("#ocrEngineModeGlobal")[0].value);
            formData.append('roleDevLayout', $("#roleDevLayout")[0].value);
            formData.append('defineLanguage', $("#defineLanguage")[0].value);
            if ($("#replaceComma")[0].checked) {
                formData.append('replaceComma', true);
            } else {
                formData.append('replaceComma', false);
            }
            if ($("#groupItAll")[0].checked) {
                formData.append('groupItAll', true);
            } else {
                formData.append('groupItAll', false);
            }
            if ($("#blackBgr")[0].checked) {
                formData.append('black', true);
            } else {
                formData.append('black', false);
            }
            if ($("#twoWordNames")[0].checked) {
                formData.append('twoWordNames', true);
            } else {
                formData.append('twoWordNames', false);
            }
            if ($("#nicknameDetect")[0].checked) {
                formData.append('nicknameDetect', true);
            } else {
                formData.append('nicknameDetect', false);
            }
            if ($("#capitalizeDevNames")[0].checked) {
                formData.append('capitalizeDevNames', true);
            } else {
                formData.append('capitalizeDevNames', false);
            }
            if ($("#capitalizeRoles")[0].checked) {
                formData.append('capitalizeRoles', true);
            } else {
                formData.append('capitalizeRoles', false);
            }
            if ($("#uppercaseKeywordsCheckbox")[0].checked) {
                formData.append('uppercaseKeywords',$("#uppercaseKeywordsText")[0].value);
            } 
            $("#dialog")[0].innerHTML = "Dialog will close once OCRing is done...";
            $("#dialog").dialog("open");
            reportStatus = true;
            basicHtml = $("#dialog")[0].innerHTML;
            $.ajax({
                type: "POST",
                url: "/fullcredits",
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    reportStatus = false;
                    $("#dialog").dialog("close");
                    $("#previewResolution").prop('disabled', false);
                    var myKeys = Object.keys(data);
                    Array.prototype.forEach.call(myKeys, function (myKey) {
                        var myImg = $("[id=\'"+myKey+"\']")[0];
                        var myText = data[myKey];
                        console.log("ok");
                        var textTd = myImg.parentElement.parentElement.nextSibling;
                        if (textTd != undefined) {
                            var existingDiv = textTd.children[0];
                            existingDiv.innerHTML = myText;
                        } else {
                            var tr = myImg.parentElement.parentElement.parentElement;
                            var div1 = document.createElement("div");
                            var td1 = document.createElement('td');
                            div1.className = 'textToCopy';
                            div1.setAttribute('contenteditable', true);
                            div1.innerHTML = myText;
                            div1.onkeydown = enterToBr;
                            var td1 = document.createElement('td');
                            td1.className = 'textToCopyTd';
                            td1.appendChild(div1);
                            $("#copyCombinedText").prop('disabled', false);
                            tr.appendChild(td1);
                        }
                    });
                    $("#scanAllId").prop('disabled', false);
                },
                error: function (data2) {
                    console.log(data2);
                    reportStatus = false;
                    $("#dialog")[0].innerHTML = data2.responseText;
                    //$("#dialog").dialog("close");
                }
            });
            checkStatus(reportStatus, basicHtml);
        }
        function combineWholeText() {
            $("#combinedText")[0].innerHTML = '';
            $(".textToCopy").each(function () {
                var htmlText = $(this)[0].innerHTML;
                htmlText = htmlText.replace('<br>', '');
                htmlText = htmlText.replace('<div>', '');
                $("#combinedText")[0].innerHTML += htmlText;
            });
            $("#combinedText").prop('hidden', false);
            $("#showCombinedText").prop('disabled', true);
            $("#hideCombinedText").prop('disabled', false);
        }

        function hideWholeText() {
            $("#combinedText").prop('hidden', true);
            $("#showCombinedText").prop('disabled', false);
            $("#hideCombinedText").prop('disabled', true);
        }

        function copyWholeText() {
            $("#combinedText")[0].innerHTML = '';
            $(".textToCopy").each(function () {
                var htmlText = $(this)[0].innerHTML;
                // htmlText = htmlText.replace(/(<|&lt;)br\s*\/*(>|&gt;)/g,'')
                // htmlText = htmlText.replace(/(<|&lt;)div\s*\/*(>|&gt;)/g,'')
                $("#combinedText")[0].innerHTML += $(this)[0].innerHTML;
            });
            var result = $("#combinedText")[0].innerHTML;
            result = result.replace(/(<|&lt;)br\s*\/*(>|&gt;)/g, '')
            result = result.replace(/(<|&lt;)div\s*\/*(>|&gt;)/g, '')
            result = result.replace(/&amp;/g, "&");
            writeToClipboard(result);
            //navigator.clipboard.writeText(result);
        }

        function clearWholeText() {
            $(".textToCopyTd").each(function () {
                $(this)[0].remove();
            });
        }

        function finalCoordinates(widget, e) {
            $("#clearCrop").prop('disabled', false);
            if (e) {
                var xCoord = e.cropTarget.pos.x;
                var yCoord = e.cropTarget.pos.y;
                var widthCoord = e.cropTarget.pos.w;
                var heightCoord = e.cropTarget.pos.h;
            }
            $(e.currentTarget.childNodes[0]).prop('tempPropX', xCoord);
            $(e.currentTarget.childNodes[0]).prop('tempPropY', yCoord);
            $(e.currentTarget.childNodes[0]).prop('tempPropW', widthCoord);
            $(e.currentTarget.childNodes[0]).prop('tempPropH', heightCoord);
            $(e.currentTarget.childNodes[0]).prop('widget', widget);
            console.log("EEEEEEEEE");
            // variables can be accessed here as
            // c.x, c.y, c.x2, c.y2, c.w, c.h
        };

        function applyCropToAllImages(image) {
            var xCoord = image.tempPropX;
            var yCoord = image.tempPropY;
            var widthCoord = image.tempPropW;
            var heightCoord = image.tempPropH;
            var widget = image.widget;
            $(".imageToCrop").each(function () {
                setTimeout(goThroughWidgets, 200, $(this)[0], xCoord, yCoord, widthCoord, heightCoord);
            });
        }

        function goThroughWidgets(inputImage, xCoord, yCoord, widthCoord, heightCoord) {
            var potentialWidget = inputImage.widget;
            var img = inputImage;
            img.stage.destroy();
            // img.removeAttribute('style');
            Jcrop.load(img).then(img => {
                var stage = Jcrop.attach(img, {
                    onRelease: finalCoordinates
                });
                img.stage = stage;
                stage.listen('crop.change', (widget, e) => {
                    finalCoordinates(widget, e);
                });
                const rect = Jcrop.Rect.fromPoints([xCoord, yCoord], [xCoord + widthCoord, yCoord + heightCoord]);
                const jcrop = img.stage;
                console.log("SADKSAJDKLSADA");
                var newWidget = jcrop.newWidget(rect, {});
                $(this)[0].widget = newWidget;
                img.setAttribute('tempPropX', xCoord);
                img.setAttribute('tempPropY', yCoord);
                img.setAttribute('tempPropW', widthCoord);
                img.setAttribute('tempPropH', heightCoord);
            });
            // }
        }

        function enterToBr(e) {
            // trap the return key being pressed
            if (e.keyCode === 13) {
                // insert 2 br tags (if only one br tag is inserted the cursor won't go to the next line)
                document.execCommand('insertHTML', false, '<br>\n');
                // prevent the default behaviour of return key pressed
                return false;
            }
        };

        function adjustOcrMode(e) {
            //not sure about this yet
            var roleLayoutValue = $("#roleDevLayout")[0].value;
            if (roleLayoutValue == 1 || roleLayoutValue == 2) {
                $("#pageSegModeGlobal")[0].value = 4;
            }
        }

        function rememberResize(){
            multiplier = $("#defineResize")[0].value;
        }

        function modifyResolution(e) {
            //not sure about this yet
            var targetWidth;
            var targetHeight;
            var currentVal = $("#previewResolution")[0].value;
            switch (currentVal) {
                case "0":
                    targetWidth = origWidth;
                    targetHeight = origHeight;
                    break;
                case "1":
                    targetWidth = 640;
                    targetHeight = 480;
                    break;
                case "2":
                    targetWidth = 800;
                    targetHeight = 600;
                    break;
                case "3":
                    targetWidth = 1024;
                    targetHeight = 768;
                    break;
                case "4":
                    targetWidth = 1280;
                    targetHeight = 720;
                    break;
                case "5":
                    targetWidth = 1440;
                    targetHeight = 900;
                    break;
                case "6":
                    targetWidth = 1920;
                    targetHeight = 1080;
                    break;
            }
            $(".imageToCrop").each(function () {
                //if ($(this)[0].id == "") {
                $(this)[0].width = targetWidth;
                $(this)[0].height = targetHeight;
                $(this)[0].parentElement.style = "width: " + targetWidth + "px; height: " + targetHeight + "px;";
                //}
            });
            clearWholeCrop();
            //i.width=640;
            //i.height=480;
        }

        function doTimeout(basicHtml) {
            var formData = new FormData();
            $.ajax({
                type: "GET",
                url: "/getstatus",
                contentType: false,
                processData: false,
                async: false,
                data: formData,
                success: function (data) {
                    $("#dialog")[0].innerHTML = data.ocr;
                    console.log(data);
                },
                error: function (data2) {
                    console.log(data2);
                }
            });
        }

        function checkStatus(basicHtml) {
            console.log(reportStatus);
            doTimeout(basicHtml);
            setTimeout(function () {
                if (reportStatus) {
                    checkStatus();
                }
            }, 3000);
        }

        function doUploadTimeout(basicHtml) {
            var formData = new FormData();
            $.ajax({
                type: "GET",
                url: "/getuploadstatus",
                contentType: false,
                processData: false,
                async: false,
                data: formData,
                success: function (data) {
                    $("#dialog")[0].innerHTML = data.ocr;
                    console.log(data);
                },
                error: function (data2) {
                    console.log(data2);
                }
            });
        }

        function checkUploadStatus(basicHtml) {
            console.log(uploadStatus);
            doUploadTimeout(basicHtml);
            setTimeout(function () {
                if (uploadStatus) {
                    checkUploadStatus();
                }
            }, 3000);
        }

        function writeToClipboard(result) {
            if (typeof (navigator.clipboard) == 'undefined') {
                console.log('navigator.clipboard');
                var textArea = document.createElement("textarea");
                textArea.value = result;
                textArea.style.position = "fixed";  //avoid scrolling to bottom
                document.body.appendChild(textArea);
                textArea.focus();
                textArea.select();
                try {
                    var successful = document.execCommand('copy');
                } catch (err) {
                    alert("unable to copy text, pass this info to that moron");
                }
                document.body.removeChild(textArea);
                return;
            } else {
                navigator.clipboard.writeText(result);
            }
        }

        function clearWholeCrop() {
            $(".imageToCrop").each(function () {
                const jcrop = $(this)[0].stage;
                const img = $(this)[0];
                jcrop.destroy();
                img.widget = undefined;
                Jcrop.load(img).then(img => {
                    var stage = Jcrop.attach(img, {
                        onRelease: finalCoordinates
                    });
                    img.stage = stage;
                    stage.listen('crop.change', (widget, e) => {
                        finalCoordinates(widget, e);
                    });
                });
            });
        }
    </script>
</body>

</html>